html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='25' height='24' patternTransform='scale(3) rotate(145)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(211,100%,95.9%,1)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z' transform='translate(2.5,0)' stroke-width='6' stroke='hsla(214,100%,98.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-42,-96)' fill='url(%23a)'/></svg>");
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

p,
h2,
form {
  font-family: "Nunito", sans-serif;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}


header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  background-color: #ebf4ffff;
  width: 100%;
  gap: 2rem;
  padding: 1rem;
}

header h1 {
  font-family: "Parisienne", sans-serif;
    font-size: clamp(2rem, 10vw, 6rem);
    margin: 0;
  padding-bottom: 0;
  text-align: center;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}


footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  color: rgb(75, 75, 77);
  background-color: #ebf4ffff;
}

footer p {
  color: gray;
  text-align: center;
  padding: 1rem;
}


.note-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
}

.note {
  background-color: white;
  width: clamp(8rem, 50vw, 17rem);
  height: fit-content;
  margin: 1rem;
  border-radius: 20px;
}

.note h2 {
  color: rgb(77, 142, 221);
  padding: 1rem;
  font-size: clamp(1rem, 2vw, 1.3rem);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note p {
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: clamp(1rem, 1vw, 1.2rem);
}

header,
footer,
.note,
form,
.topic-card {
  box-shadow: 0 0 20px 0 rgb(205, 221, 239);
}

h2 {
  box-shadow: 0 20px 100px 0 rgb(231, 235, 241);
}

.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}

.note button {
  position: relative;
  float: right;
  margin: 10px;
  color: rgb(77, 142, 221);
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}


form.create-note {
  position: relative;
  width: clamp(15rem, 60vw, 40rem);
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: rgb(77, 142, 221);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px 0 rgb(166, 202, 242);
  cursor: pointer;
  outline: none;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  form.create-note {
    width: 90%;
    margin: 1rem auto;
    padding: 10px;
  }
}

